<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>I'm in the App Component</h1>
            <hr>
            <app-servers></app-servers>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
            <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
        </div>
    </div>
</div> -->


<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <button
          class="btn btn-primary"
          (click)="onlyOdd = !onlyOdd">Toggle Even/Odd</button>
        <br><br>
        <ul class="list-group">
          <div *ngIf="onlyOdd">
            <li
            class="list-group-item"
            *ngFor="let odd of oddNumbers"
            [ngClass]="{odd: odd % 2 !== 0}"
            [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}">
            {{ odd }}
          </li>
          </div>
          <div *ngIf="!onlyOdd">
            <li
            class="list-group-item"
            *ngFor="let even of evenNumbers"
            [ngClass]="{even: even % 2 !== 0}"
            [ngStyle]="{backgroundColor: even % 2 === 0 ? 'Green' : 'transparent'}">
            {{ even }}
          </li>
          </div>  
        </ul>
        <p appBasicHighlight>This styling is done using custom attribute directive</p>
        <p appBetterHighlight>This styling is done using custom attribute directive using renderer</p>

      </div>
    </div>
  </div>
  